.contact-us-main-container {
    height: 100vh;
}

.contact-us-bg-img{
    position: relative;
    z-index: -1;
    background-image: url('./../../assets/cleaner-sudsy-sponge.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    opacity: 0.5;
}

.contact-us-card{
    text-align: left;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-top: -600px;
    margin-right: 100px;
    height: fit-content;
    padding: 10px;

}

.contact-us-inner-card{
    padding: 20px;
    border: 2px solid #34AFAA;
}


.contact-us-row{
    justify-content: end;
}

.contact-us-whatsapp-icon{
    width: 1.5rem;
    margin-right: 5px;
}

.contact-us-whatsapp-btn{
    width: 40%;
}



/* vertical tab  */
@media screen and (min-width: 769px) and (max-width: 991px) {
    .contact-us-row{
        justify-content: center;
    }

    .contact-us-card{
        margin-top: -730px;
        margin-right: 0px;
    }
}


@media screen and (max-width: 768px) {
    .contact-us-row{
        justify-content: center;
    }

    .contact-us-card{
        margin-right: 0px;
        margin-top: -515px;
    }

}