.allocate-labours-card{
    background-color: #17262B;
    color: white;
    padding: 40px;
    text-align: left;
    margin-top: 5vh;
}

.allocate-labours-h3{
    font-size: 1.1rem;
    margin: 20px 0px;
    font-weight: bold;
}

.allocate-labours-summary-span{
    font-weight: 400;
}