/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    /* background-color: transparent; */
    height: 200px;
    width: 250px;
    margin: 10px 20px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #17262B;
    color: white;
}

/* Style the back side */
.flip-card-back {
    background-color: #34AFAA;
    color: white;
    padding: 15px;
    transform: rotateY(180deg);
}

.sect-six-h2{
    margin-bottom: 50px;
    margin-top: 200px;
    font-weight: 900;
    font-size: 3rem;
    color: #17262B;
}



@media screen and (min-width: 769px) and (max-width: 991px){
    .sect-six-h2{
        margin-bottom: 30px;
        margin-top: 40px;
        font-weight: 900;
        font-size: 2rem;
        line-height: 140%;
        color: #17262B;
    }
}


@media screen and (max-width: 768px){
    .sect-six-h2{
        margin-bottom: 30px;
        margin-top: 30px;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 140%;
        color: #17262B;
    }

    .flip-card {
        /* background-color: transparent; */
        height: 190px;
        width: 250px;
        margin: 10px 20px;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
}


