.add-labour-input-label{
    display: block;
    text-align: left;
    margin: 2px 0px;
}

.add-labour-form-card{
    background-color: #17262B;
    margin-top: 5vh;
    padding: 20px 60px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: white;
}

.add-labour-input-field{
    margin-bottom: 20px;
}

.add-labour-input-submit{
    background-color: blue;
    color: white;
}

.add-labour-form-input-submit:hover{
    background-color: blue;
    color: white;
}

.add-labour-form-h2{
    color: #A2F1FB;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10px 0px;
}


@media screen and (max-width: 768px){
    .add-labour-form-card{
        background-color: #17262B;
        margin-top: 5vh;
        padding: 20px 30px;
        margin-bottom: 30px;
        border-radius: 30px;
        color: white;
    }
}
