.contractor-dashboard-input-label{
    display: block;
    text-align: left;
    margin: 2px 0px;
    color: #e9ebf8;
}

.contractor-dashboard-form-card{
    background-color: #17262B;
    margin-top: 5vh;
    padding: 20px 60px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: #e9ebf8;
}

.contractor-dashboardform-input-field{
    margin-bottom: 20px;
}

.contractor-dashboard-form-input-submit{
    background-color: #323A49;
    color: white;
}

.contractor-dashboard-form-input-submit:hover{
    border: 1px solid #323A49;
    color: white;
}

.contractor-dashboard-form-h2{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10px 0px;
    color: #e9ebf8;
}

.contractor-dashboardform-h3{
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    padding: 5px 0px;
}

.dashboard-icon-backarrow{
    /* width: 35px; */
    background-color: #34AFAA;
    /* margin-top: 2.2rem; */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.heading-row{
    position: relative;
    right: 40px;
}


/* Booking confirm Popup */
.dashboard-booking-confirm-popup-content{
    width: 40% !important;
    padding: 15px !important;
    border-radius: 10px;
}

.confirm-booking-header-popup{
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
}

.confirm-booking-btn-popup{
    background-color: #17262B;
    color: white;
}

.confirm-booking-btn-popup:hover{
    background-color: white;
    border: 1px solid #17262B;
    color: black
}

.confirm-booking-content-popup{
    padding: 10px 20px;
}


/* Booking form instructions */
.booking-form-instruction{
    position: fixed;
    top: 85vh;
    right: 60px;
    z-index: -1;
}

.booking-form-instruction-btn-img{
    cursor: pointer;
    font-size: 18px;
}

.booking-form-instruction-btn-img > img{
    width: 70px;
    margin-right: -10px;
}

.tooltip-content-content{
    width: 30vw !important;
    padding: 15px 15px 0px 15px;
}

.tooltip-booking-form-h3{
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 10px;
}

.tooltip-ol-booking-form > li{
    padding-bottom: 10px;
}


table, th, td {
    border: 1px solid #34AFAA;
    border-collapse: collapse;
    padding: 5px 10px;
}

.booking-form-confirmation-table{
    padding-bottom: 20px;
    overflow: auto;
}


@media screen and (min-width: 769px) and (max-width: 991px){
    .dashboard-booking-confirm-popup-content{
        width: 60% !important;
    }

    .tooltip-content-content{
        width: 60vw !important;
    }
}


@media screen and (max-width: 768px){
    .contractor-dashboard-form-card{
        background-color: #17262B;
        margin-top: 5vh;
        padding: 20px 10px;
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .dashboard-booking-confirm-popup-content{
        width: 80% !important;
    }

    .heading-row{
        position: relative;
        right: 10px;
    }

    .tooltip-content-content{
        width: 80vw !important;
    }

    .booking-form-instruction{
        position: static;
        padding-right: 50px;
    }

    .tooltip-ol-booking-form{
        font-size: 13px;
    }
}
