.contractor-dashboard-input-label{
    display: block;
    text-align: left;
    margin: 2px 0px;
    color: #e9ebf8;
}

.contractor-dashboard-form-card{
    background-color: #17262B;
    margin-top: 5vh;
    padding: 20px 60px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: #e9ebf8;
}

.contractor-dashboardform-input-field{
    margin-bottom: 20px;
}

.contractor-dashboard-form-input-submit{
    background-color: #323A49;
    color: white;
}

.contractor-dashboard-form-input-submit:hover{
    border: 1px solid #323A49;
    color: white;
}

.contractor-dashboard-form-h2{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10px 0px;
    color: #e9ebf8;
}

.contractor-dashboardform-h3{
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    padding: 5px 0px;
}

.dashboard-icon-backarrow{
    /* width: 35px; */
    background-color: #34AFAA;
    /* margin-top: 2.2rem; */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.heading-row{
    position: relative;
    right: 40px;
}


@media screen and (max-width: 768px){
    .contractor-dashboard-form-card{
        background-color: #17262B;
        margin-top: 5vh;
        padding: 20px 10px;
        margin-bottom: 30px;
        border-radius: 30px;
    }
}
