.verify-user-card{
    margin-top: 20vh;
    background-color: white;
    padding: 50px 30px;
    border-radius: 30px;
}

.login-href {
    color: #212527;
    cursor: pointer;
    text-decoration: underline;
}

.verify-user-container{
    background-color: #34AFAA;
    min-height: 100vh;
    max-height: fit-content;
}