.product-services-main-container {
    min-height: 100vh;
    background-color: #34AFAA;
}

.product-services-row{
    height: 80vh;
    padding: 0px 120px;
    margin: 0px;
}

.product-services-icons{
    width: 60px;
}

.product-services-card{
    height: fit-content;
    text-align: left;
    margin: 20px 0px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-services-inner-card{
    border: 2px solid #34AFAA;
    padding: 20px;
}

.product-services-h2{
    margin-bottom: 0px;
    font-size: 25px;
}

.product-services-header-content{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.product-services-skillset-list{
    margin-top: 15px;
}


@media screen and (max-width: 768px) {
    .product-services-row{
        height: fit-content;
        padding: 0px;
        margin: 30px;
    }

    .product-services-header-content{
        margin-left: 20px;
    }

    .product-services-h2{
        font-size: 22px;
        width: fit-content;
    }

    .product-services-skillset-list{
        margin-top: 25px;
    }

}