.forgot-password-container{
    min-height: 100vh;
    max-height: fit-content;
    background-color: #34AFAA;
}

.forgot-password-card{
    background-color: #17262b;
    color: #e9ebf8;
    padding: 40px;
    margin-top: 15vh;
}

.forgot-password-h1{
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 20px;;
}

.forgot-password-input-label{
    display: block;
    text-align: left;
}

.forgot-password-input-field{
    margin-bottom: 15px;
}

.forgot-password-input-submit{
    color: white;   
    background-color: #323A49;
    margin-top: 20px;
}

.forgot-password-input-submit:hover{
    border: 1px solid #323A49;
}