.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notification-container{
    background-color: white;
    /* padding: 15px 0px; */
}

.notification-card{
    padding: 10px 20px;
    /* border: 2px solid black; */
    background-color: pink;
    border-bottom: 1px solid black;
}

.notification-seperator{
    margin-top: 10px;
    margin-bottom: 0px;
    border-color: black;
}

.notification-age{
    font-size: 12px;
}

.notification-read{
    background-color: rgb(221, 221, 221);
}

.notification-unread{
    background-color: white;
}