.navbar{
    background-color: #34AFAA !important;
}

.navbar-logo{
    width: 18vh;
}

@media screen and (min-width: 769px) and (max-width: 991px){
    .navbar-logo{
        width: 12vh;
    }
}

@media screen and (max-width: 768px){
    .navbar-logo{
        width: 16vh;
    }
}