.sect4-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.sect4-card {
    text-align: center;
    cursor: pointer;
    background-color: #45656A;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 0;
}

.sect4-title {
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #17262B;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0;
}

.sect4-table {
    width: 100%;
    margin-top: 0rem;
}



@media screen and (min-width: 769px) and (max-width: 991px){
    .sect4-div {
        width: 100vw;
        box-sizing: border-box;
        margin-top: -2rem;
    }

    .sect4-title {
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .sect4-table {
        width: 90%;
        transition: scale(1.2);
        transform: scale(1.1);
        margin-top: 1.5rem;
        padding: 0px 20px;
    }
}


@media screen and (max-width: 768px){

    .sect4-title {
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    .sect4-table {
        width: 90%;
        transition: scale(1.2);
        transform: scale(1.1);
        margin-top: 1.5rem;
    }
}