.sectFour-container {
    padding: 40px 0px;
}

.sectFour-img {
    width: 25%;
    margin-right: 15px;
}

.sectFour-section-1 {
    background-color: #d9dbdb;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    border-radius: 20px;
    padding: 15px 10px;
}

.sectFour-icon-card {
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    padding: 12px 15px;
    cursor: pointer;
    text-align: left;
}

.sectFour-text-card {
    padding-left: 30px;
    text-align: left;
}

.sectFour-section-2 {
    padding: 25px 10px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px
}

.sectFour-label {
    display: block;
    text-align: left;
}

.sectFour-input {
    outline: none;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 12vw;
}

.sectFour-form-card {
    text-align: left;
    width: 20vw;
}

.button-div {
    width: 400px;
}

.book-now-btn {
    margin: auto;
}

.border-right {
    border-right: 1px solid black;
}

.pr {
    padding-right: 40px;
}

.pl {
    padding-left: 40px;
}

.mobile-section {
    display: none;
}


.sect-four-h3{
    font-size: 40px;
    font-weight: 900;
}

@media screen and (min-width: 769px) and (max-width: 991px) {

    .sectFour-img {
        width: 40%;
        margin-right: 5px;
    }

    .sectFour-icon-card {
        padding: 30px 15px;
    }

    .sectFour-section-2 {
        padding: 25px 10px;
    }

    .sectFour-input {
        width: 12vw;
    }

    .sectFour-form-card {
        text-align: left;
        
    }

    .button-div {
        width: 150px;
    }

    .book-now-btn {
        padding: 10px 5px !important;
    }

    .border-right {
        border-right: 1px solid black;
    }

    .pr {
        padding-right: 30px;
    }

    .pl {
        padding-left: 30px;
    }
}


@media screen and (max-width: 768px) {
    .mobile-section {
        display: block;
    }

    .sectFour-section-1 {
        display: none;
    }

    .sectFour-section-2 {
        display: none;
    }
}